.RichEditor-root {
    background: #fff;
    border: 1px solid #ddd;
    font-size: 14px;
    padding: 15px;
  }
  
  .RichEditor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .RichEditor-editor .public-DraftEditorPlaceholder-root,
  .RichEditor-editor .public-DraftEditor-content {
    max-height: 160px;
    overflow-y: auto;
    word-break: break-all;
    margin: 0 -15px -15px;
    padding: 15px;
  }

  .public-DraftEditor-content::-webkit-scrollbar {
    width: 14px;
    height: 20px;
}

.public-DraftEditor-content::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
}

.public-DraftEditor-content::-webkit-scrollbar-thumb {
    background: #8C52FF;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
}

.public-DraftEditor-content::-webkit-scrollbar-thumb:hover {
    background: #7c49e3;
}
  
  .RichEditor-editor .public-DraftEditor-content {
    word-break: break-all;
    min-height: 100px;
  }
  
  .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }
  
  .RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  
  .RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
  }
  
  .RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
  }
  
  .RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
  }
  
  .RichEditor-activeButton {
    color: #8C52FF;
  }

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}